<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello!</h1>
    <p>
      You have new task assigned to you! Just follow this link: <%= @task.name %> and check the detail.
    </p>
    <p>Thanks!</p>
  </body>
</html>