<h1>Manage User</h1>

<table>
  <thead>
    <tr>
      <th width="80">Username</th>
      <th width="150">Role</th>
    </tr>
  </thead>
    <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.role %></td>
          </tr>
        <% end %>
      </tbody>
</table>

<%= paginate @users %>