<div id="attachments">
<% for attachment in @attachments %>
  <div class="attachment">
    <%=simple_format image_tag(attachment.attachment_url) if attachment.attachment? %>
  </div>
<% end %>
</div>
