<p>This is a project management software :
<ul class="disc">
  <li>User can register to the app</li>
  <li>Project has many contributors</li>
  <li>Project has many Tasks</li>
  <li>Every task has many todos</li>
  <li>Todo has one assignee (user)</li>
  <li>Todo has due date</li>
</ul>
## Will be updated soon ##</p>