<h1>Project Management Software</h1>
<p>
  This is a project management software, 
- User can register to the app
- User has many Projects
- Project has many contributors
- Project has many Tasks
- Every task has many todos
- Todo has one assignee (user)
- Todo has due date
</p>