<%= form_for [@work, Contributor.new] do |f| %>
  <div class="field">
    <%= f.select(:user_id, @user.map { |u| [u.username, u.id] }) %>
  </div>
  <div class="field">
    <%= f.hidden_field :work_id, value: params[:work_id] %> 
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "button right" %>
  </div>
<% end %>