<h1>Manage Contributions</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Contributors</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @contributors.each do |contributor| %>
      <tr>
        <td><%= contributor.work_id %></td>
        <td><%= contributor.user.username %></td>
        <% if can? :destroy, contributor %>
        <td>
          <%= link_to 'Delete', work_contributor_path(contributor.work_id, contributor), data: { confirm: 'Are you sure?' }, :class => "tiny button [secondary alert success]" %>
        </td>
        <% end %>   
      </tr>
    <% end %>
  </tbody>
</table>

<br>